header[role="banner"] #logo-main {
  display: block;
  margin: 20px auto;
}
#navbar-primary.navbar-default {
  background: transparent;
  border: none;
}
#navbar-primary.navbar-default .navbar-nav {
  width: 100%;
  text-align: center;
}
#navbar-primary.navbar-default .navbar-nav > li {
  display: inline-block;
  float: none;
}
#navbar-primary.navbar-default .navbar-nav > li > a {
  padding-left: 30px;
  padding-right: 30px;
}
.cont_calculadora{
      display: flex;
      flex-direction: column;
      text-align: center;
}
.cont_creadores{
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}
.cont{
  margin:4px 0 4px 0;
}
.total {
    font-size: large;
    font-weight: bold;
}
.border{
  border: 1px solid black;
}

.cont_ayuda {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}